Source: conftool
Section: python
Priority: optional
Maintainer: Giuseppe Lavagetto <glavagetto@wikimedia.org>
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python3-all, python3-setuptools
Standards-Version: 4.1.2
Homepage: https://github.com/wikimedia/operations-software-conftool
X-Python3-Version: >= 3.4
#Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/conftool.git
#Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/conftool.git/
#Testsuite: autopkgtest-pkg-python

Package: python3-conftool
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: Set of tools to configure the WMF kv config store.
 Conftool provides a couple of tools: conftool-sync that allows
 syncing objects from a series of yaml files.
 .
 This package installs the library for Python 3.
